@import "colores";

* {
  box-sizing: border-box;
  font-family: "Open Sans";
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
h2,h3,h4,a{
  font-family: "Roboto";
}

/* 
**************************************************************************************
Menu secundario disponible a < 768px
**************************************************************************************
*/
.menu-secundario {
    background-color: $verde_principal;
  .menu-secundario__contenedor {
    .menu-secundario__lista {
      display: flex;
      justify-content: space-evenly;
      padding: 0 0;
    }
    .menu-secundario__enlaces {
      font-weight: 400;
      font-size: 1rem;
      color: $links__menuNavegacion;
    }
  }
  .menu-secundario__icono{
    color: $links__menuNavegacion;
    margin-left: 6px;
    font-size: 30px;
  }
}
/* 
**************************************************************************************
Menu primario disponible a > 768px
**************************************************************************************
*/
.menu-primario{
  background-color: $verde_principal;
  padding: 5px;
  .menu-primario__contenedor{
    display: flex;
    justify-content: space-around;
    .menu-primario__enlaces{
      font-size: 1.1rem;
      color: $links__menuNavegacion;
    }
  }
  .menu-primario__icono{
    color: $links__menuNavegacion;
    font-size: 2.5rem;
  }
}
/* 
**************************************************************************************
Enlace al shop de nuestra pagina
**************************************************************************************
*/
.shop{
  background-color: #fafafa;
  padding: 10px;
  font-size: 14px;
  color: #7c7c7c;
  .shop__contenedor{
    display: flex;
    justify-content: center;
  }
  .shop__enlace{
    color: $verde_principal;
  }
}

/* 
**************************************************************************************
CONTENIDO/BODY DEL SITIO
**************************************************************************************
*/
.iphone-12pro{
  background-color: #000000;
  height: auto;
  .iphone-12pro__contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    .iphone-12pro__titulo{
      color: $links__menuNavegacion;
      font-size: 52px;
      font-weight: 600;
      text-align: center;
    }
    .iphone-12pro__tienda{
      display: flex;
      flex-direction: inherit;
      align-items: center;
      .iphone-12pro__descripcion{
        @extend .iphone-12pro__titulo;
        font-size: 26px;
        font-weight: 400;
      }
      .iphone-12pro__enlaceTienda{
        @extend .iphone-12pro__titulo;
        color: $verde_principal;
        border-bottom: 1px solid $verde_principal;
        font-size: 16px;
      }
      .iphone-12pro--icono{
        margin-left: 2px;
        color: $links__menuNavegacion;
        font-size: 16px;
      }
    }
  }
  .iphone-12pro__img{
    height: 300px;
    background-image: url(../img/home/iphone-12pro-home4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
}
.collage{
  border: 2px solid red;
  height: auto;
  .collage__filaUno{
    display: flex;
    justify-content: space-between;
    .collage__filaUno--AppleWatch{
      padding: 0 0;
      background-color:#000000;
      height:auto;
      border: 2px solid orange;
      width: 49.4%;
    }
    .collage__filaUno--tituloAppleWatchContenedor{
      font-weight: 600;
      padding: 5px;
      text-align: center;
      color: $links__menuNavegacion;
    }
    .collage__filaUno--iconoAppleWatch{
      font-size: 35px;
      padding: 0 9px;
    }
    .collage__filaUno--img{
      width: 100%; 
      height: 350px;
    }
    .collage__filaUno--Ipad{
      padding: 0 0;
      width: 49.4%;
      height:auto;
      border: 2px solid orange;
    }
    .collage__filaUno--tituloIpadContenedor{
      @extend .collage__filaUno--tituloAppleWatchContenedor;
      color: #000000;
    }
    .collage__filaUno--tituloIpad{
      @extend .collage__filaUno--iconoAppleWatch;
    }
  }
}
/* 
**************************************************************************************
Clase para mostrar/quitar elementos segun corresponda
**************************************************************************************
*/
.activada{
  display: none;
}