@import "colores";

* {
  box-sizing: border-box;
  font-family: "Open Sans";
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
h2,h3,h4,a{
  font-family: "Roboto";
}

/* FIJAMOS NUESTRO MENU A LA PANTALLA AL HACER SCROLL */
header{
  position: sticky;
  top: 0;
  z-index: 1;
}
/* 
**************************************************************************************
Menu secundario disponible a < 768px
**************************************************************************************
*/
.menu-secundario {
    background-color: $verde_principal;
  .menu-secundario__contenedor {
    .menu-secundario__lista {
      display: flex;
      justify-content: space-evenly;
      padding: 0 0;
    }
    .menu-secundario__enlaces {
      font-weight: 400;
      font-size: 1rem;
      color: $links__menuNavegacion;
    }
  }
  .menu-secundario__icono{
    height: 50px;
    border-radius: 20px;
    margin-left: 5px;
  }
}
/* 
**************************************************************************************
Menu primario disponible a > 768px
**************************************************************************************
*/
.menu-primario{
  background-color: $verde_principal;
  padding: 5px;
  .menu-primario__contenedor{
    display: flex;
    justify-content: space-around;
    .menu-primario__enlaces{
      font-size: 1.1rem;
      color: $links__menuNavegacion;
    }
    .menu-primario__enlaces:hover{
      color: #ffffff;
    }
  }
  .menu-primario__icono{
    height: 50px;
    border-radius: 20px
  }
}
/* 
**************************************************************************************
Enlace al shop de nuestra pagina
**************************************************************************************
*/
.shop{
  background-color: #fafafa;
  padding: 10px;
  font-size: 14px;
  color: #7c7c7c;
  box-shadow: 0px 2px 4px rgba(219, 219, 219,0.8);
  .shop__contenedor{
    display: flex;
    justify-content: center;
  }
  .shop__enlace{
    color: $verde_principal;
  }
  .shop__enlace:hover{
    border-bottom: 1px solid $verde_principal;
  }
}

/* 
**************************************************************************************
CONTENIDO/BODY DEL SITIO
**************************************************************************************
*/
.iphone-12pro{
  background-color: $negro;
  height: auto;
  .iphone-12pro__contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    .iphone-12pro__titulo{
      color: $links__menuNavegacion;
      font-size: 52px;
      font-weight: 600;
      text-align: center;
    }
    .iphone-12pro__tienda{
      display: flex;
      flex-direction: inherit;
      align-items: center;
      .iphone-12pro__descripcion{
        @extend .iphone-12pro__titulo;
        font-size: 26px;
        font-weight: 400;
      }
      .iphone-12pro__enlaceTienda{
        @extend .iphone-12pro__titulo;
        color: $verde_principal;
        border-bottom: 1px solid $verde_principal;
        font-size: 16px;
      }
      .iphone-12pro--icono{
        margin-left: 2px;
        color: $links__menuNavegacion;
        font-size: 16px;
      }
    }
  }
  .iphone-12pro__img{
    height: 300px;
    background-image: url(../img/home/iphone-12pro-home4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
}
.collageUno{
  height: auto;
  .collageUno__filaUno{
    display: flex;
    justify-content: space-between;
    .collageUno__filaUno--AppleWatch{
      padding: 0 0;
      background-color:$negro;
      height:auto;
      width: 49.4%;
    }
    .collageUno__filaUno--tituloAppleWatchContenedor{
      font-weight: 600;
      padding: 5px;
      text-align: center;
      color: $links__menuNavegacion;
    }
    .collageUno__filaUno--tituloAppleWatch{
      font-size: 35px;
      font-weight: 600;
    }
    .collageUno__filaUno--iconoAppleWatch{
      font-size: 35px;
      padding: 0 9px;
    }
    .collageUno__filaUno--img{
      width: 100%; 
      height: 350px;
    }
    .collageUno__filaUno--Ipad{
      padding: 0 0;
      width: 49.4%;
      height:auto;
    }
    .collageUno__filaUno--tituloIpadContenedor{
      @extend .collageUno__filaUno--tituloAppleWatchContenedor;
      color: $negro;
    }
    .collageUno__filaUno--tituloIpad{
      @extend .collageUno__filaUno--tituloAppleWatch;
      color: $negro_opaco;
    }
  }
}

.collageDos{
  @extend .collageUno;
  .collageDos__filaDos{
    @extend .collageUno__filaUno;
    .collageDos__filaDos--Iphone11{
      @extend .collageUno__filaUno--AppleWatch;
      background-color: #fafafa;
    }
    .collageDos__filaDos--tituloIphone11Contenedor{
      @extend .collageUno__filaUno--tituloAppleWatchContenedor;
      color: $negro_opaco;
    }
    .collageDos__filaDos--tituloIphone11{
      @extend .collageUno__filaUno--tituloAppleWatch;
    }
    .collageDos__filaDos--iconoIphone11{
      @extend .collageUno__filaUno--iconoAppleWatch;
    }
    .collageDos__filaDos--IphoneSE{
      @extend .collageUno__filaUno--AppleWatch;
    }
    .collage__filaDos--tituloIphoneSEContenedor{
      @extend .collageUno__filaUno--tituloAppleWatchContenedor;
    }
    .collage__filaDos--tituloIphoneSE{
      @extend .collageUno__filaUno--tituloAppleWatch;
    }
    .collageDos__filaDos--iconoIphoneSE{
      @extend .collageUno__filaUno--iconoAppleWatch;
    }
    .collageDos__filaDos--img{
      @extend .collageUno__filaUno--img;
    }
  }
}

.collageTres{
  padding: 30px;
  height: 400px;
  background-attachment: fixed;
  background-repeat:no-repeat;
  background-position: center;
  background-size:100% 85%;
  background-image: url(../img/home/macbook-portada-1300x731.jpg);
  position: relative;
  .collageTres__contenedorPropaganda{
    padding: 10px;
    h2{
      font-size: 35px;
      font-weight: 600;
      color: #ffffff;
    }
    span{
      font-size: 17px;
      font-weight: 400;
      color: #ffffff;
    }
    i{
      font-size: 25px;
      margin-left: 5px;
    }
  }
}
/* 
**************************************************************************************
SECCION DE SUSCRIPCION
**************************************************************************************
*/
/* 
**************************************************************************************
Clase para validar/novalidar el contenido de un input
**************************************************************************************
*/
.valido{
  border: 1px solid #2ad714e0;
/*   border-color: #2ad714e0; */
}
.noValido{
  border: 1px solid #eb0b0b;
/*   border-color: #eb0b0b; */
}
.submitDesactivado{
  opacity: .4;
}
.suscripcion{
  background-image: url(../img/textura.png);
  height: auto;
  .suscripcion__anuncio{
    padding: 10px;
    height: auto;
    .suscripcion__anuncio--titulo{
      padding: 5px;
      font-size: 40px;
      font-weight: 600;
      text-align: center;
      color: #393939;
    }
    .suscripcion__anuncio--mensaje{
      margin-bottom: 0;
      padding: 4px 15px;
      color: $negro;
      font-size: 17px;
    }
  }
  .suscripcion__formulario{
    height: auto;
    align-self: center;
    padding: 15px;
    .suscripcion__formularioContenedor{
      display: flex;
      flex-direction: column;
      align-items: center;
      .suscripcion__formulario--input{
        margin: 5px;
        padding: 5px;
        width: 80%;
        border-radius: 4px;
        outline: none;
      }
      .suscripcion__formulario--btnEnviar{
        @extend .suscripcion__formulario--input;
        background-color: $verde_principal;
        color: $links__menuNavegacion;
        font-weight: 600;
      }
      .suscripcion__formulario--loadingImg{
        background-color: #08acaf;
        border-radius: 20px;
        opacity: 0.4;
      }
      .suscripcion__formulario--suscripcionExitosa{
        color: #ff7e7e;
        padding: 7px;
        font-size: 14px;
        font-weight: 600;
      }
    }
  }
}
/* 
**************************************************************************************
PIE DE PAGINA
**************************************************************************************
*/
.footer{
  height: 200px;
  .footer__contenedor{
    border-bottom: 1px solid $links__menuNavegacion;
    div{
      height: 200px;
    }
    .footer__contenedor--img{
      background-image: url(../img/logo.jpeg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
    .footer__contenedor--informacion{
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      padding: 15px 8px;
      border-right: 1px solid $links__menuNavegacion;
      i{
        font-size: 15px;
        margin-right: 4px;
        color: $verde_principal;
      }
      span{
        padding: 0 2px;
        font-size: 15px;
        color: $negro_opaco;
      }
    }
    .footer__contenedor--menu{
      display: flex;
      align-items: center;
      padding: 15px 8px;
      ul{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
      }
      li{
        width: 50%;
        padding: 7px 1px;
      }
      a{
        font-size: 15px;
        color: $negro_opaco;
      }
      a:hover{
        color:#08acaf;
      }
    }
  }
}
.derechos-autor{
  padding: 20px 10px;
  .derechos-autor__contenedor{
    display: flex;
    justify-content: center;
    padding: 7px;
    .derechos-autor__contenedor--desarrollador{
      font-size: 15px;
      color: #393939;
    }
  }
}

/* 
**************************************************************************************
ESTILOS PARA LA TIENDA
**************************************************************************************
*/
.productos{
  height: auto;
  .productos__categorias{
    margin-top: 7px;
    .productos__categorias--titulo{
      padding: 4px 5px;
      font-family: "Roboto";
      font-size: 17px;
      font-weight: 600;
      border-left: 3px solid $verde_principal;
    }
    .productos__categorias--form{
      display: flex;
      flex-direction: column;
      input[type="radio"]{
        display: none;
      }
      label{
        font-family: "Roboto";
        color: $negro_opaco;
        padding: 5px 15px 5px 45px;
        position: relative;
        cursor: pointer;
      }
      label:before{
        content: "";
        width: 15px;
        height: 15px;
        border-radius: 20px;
        background: none;
        border: 2px solid gray;
        position: absolute;
        left: 20px;
        bottom: 9px;
      }
      input[type="radio"]:checked + label:before{
        background: $verde_principal;
      }
    }
  }
  .productos__ordenamiento{
    display: flex;
    flex-wrap: wrap;
    padding: 11px;
    .productos__ordenamiento--contenedorCuadriculas,
    .productos__ordenamiento--contenedorCuadricula{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;
      margin-right: 5px;
      cursor: pointer;
    }
    .productos__ordenamiento--contenedorCuadriculas:hover,
    .productos__ordenamiento--contenedorCuadricula:hover{
      border: 1px solid $verde_principal;
    }
    .productos__ordenamiento--form{
      display: flex;
      align-items: center;
      margin-left: 15px;
      padding: 3px 3px;
      width: 70%;
      height: 32px;
      box-shadow: 0px 2px 4px rgba(219 ,219 ,219,0.8);
      input{
        width: 100%;
        outline: none;
        border: none;
        border-radius: 9px;
        text-align: center;
        font-size: 13px;
        font-weight: 600;
        font-family: 'Roboto';
      }
      i{
        padding: 5px 0px;
        cursor: pointer;
        color: $negro_opaco;
      }
    }
  }
  .productos__contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    padding: 5px 0px;
    box-shadow: 1px 2px 6px 3px rgba(219,219,219,0.5);
    .productos__contenedor--seccionError{
      width: 100%;
      height: 200px;
      padding: 10px 5px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      div{
        display: flex;
        justify-content: center;
      }
      h3{
        color: $negro_opaco;
        font-family: "Roboto";
        font-weight: 600;
        font-size: 30px;
        i{
          margin-left: 3px;
          color: $verde_principal;
          font-size: 30px;
        }
      }
      span{
        color: $negro_opaco;
        padding: 5px 1px;
        font-family: "Roboto";
        font-weight: 500;
        font-size: 18px;
        text-align: center;
      }
    }
    .productos__contenedor--article{
      .productos__contenedor--contenedorImg{
        display: flex;
        justify-content: center;
        width: 100%;
        div{
          position: relative;
        }
        i{
          position: absolute;
          font-size: 17px;
          cursor: grab;
          right: -6px;
          top: -10px;
        }
      }
      .productos__contenedor--contenedorDescripcion{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3px;
        h4,
        span{
          color: $negro_opaco;
          font-weight: 600;
        }
      }
      .productos__contenedor--contenedorBoton{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px;
        button{
          padding: 8px;
          border-radius: 5px;
          outline: none;
          border: none;
          background-color: $verde_principal;
          color: $links__menuNavegacion;
          font-size: 17px;
          font-family: "Roboto";
          font-weight: 400;

        }
      }
    }
  }
}

/* 
**************************************************************************************
ESTILOS PARA EL CONTENEDOR PARA EL DETALLE DEL PRODUCTO
**************************************************************************************
*/
.detalle{
  position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.9);
    .detalle__contenedor{
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80%;
      height: 100%;
      box-shadow: 0px 0px 5px #ffffff;
      border-radius: 5px;
      background-color: #ffffff;
    }
}
/* 
**************************************************************************************
Clase para mostrar/quitar elementos segun corresponda
**************************************************************************************
*/
.activada{
  display: none;
}
.cuadriculaMultiple{
  width: 47%;
  img{
    width: 190px;
    height: 210px;
  }
}
.cuadriculaUnica{
  width: 100%;
  img{
    width: 250px;
    height: 290px;
  }
}