@import "colores";

* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}

/* 
**************************************************************************************
Menu secundario disponible a < 768px
**************************************************************************************
*/
.menu-secundario {
    background-color: #08acaf;
  .menu-secundario__contenedor {
    .menu-secundario__lista {
      display: flex;
      justify-content: space-evenly;
      padding: 0 0;
    }
    .menu-secundario__enlaces {
      font-family: "Roboto";
      font-weight: 400;
      font-size: 1rem;
      color: $secundario_barraNavegacion;
    }
  }
  .menu-secundario__icono{
    color: $secundario_barraNavegacion;
    margin-left: 6px;
    font-size: 30px;
  }
}
/* 
**************************************************************************************
Menu primario disponible a > 768px
**************************************************************************************
*/
.menu-primario{
  background-color: #08acaf;
  padding: 5px;
  .menu-primario__contenedor{
    display: flex;
    justify-content: space-around;
    .menu-primario__enlaces{
      font-size: 1.1rem;
      font-family: "Roboto";
      color: $secundario_barraNavegacion;
    }
  }
  .menu-primario__icono{
    color: $secundario_barraNavegacion;
    font-size: 2.5rem;
  }
}

/* 
**************************************************************************************
Clase para mostrar/quitar elementos segun corresponda
**************************************************************************************
*/
.activada{
  display: none;
}