/* COLOR PARA LOS LINKS DEL MENU */
/* COLORES PRINCIPALES */
* {
  box-sizing: border-box;
  font-family: "Open Sans"; }

a {
  text-decoration: none; }

li {
  list-style: none; }

h2, h3, h4, a {
  font-family: "Roboto"; }

/* FIJAMOS NUESTRO MENU A LA PANTALLA AL HACER SCROLL */
header {
  position: sticky;
  top: 0;
  z-index: 1; }

/* 
**************************************************************************************
Menu secundario disponible a < 768px
**************************************************************************************
*/
.menu-secundario {
  background-color: #08acaf; }
  .menu-secundario .menu-secundario__contenedor .menu-secundario__lista {
    display: flex;
    justify-content: space-evenly;
    padding: 0 0; }
  .menu-secundario .menu-secundario__contenedor .menu-secundario__enlaces {
    font-weight: 400;
    font-size: 1rem;
    color: #e9ecef; }
  .menu-secundario .menu-secundario__icono {
    height: 50px;
    border-radius: 20px;
    margin-left: 5px; }

/* 
**************************************************************************************
Menu primario disponible a > 768px
**************************************************************************************
*/
.menu-primario {
  background-color: #08acaf;
  padding: 5px; }
  .menu-primario .menu-primario__contenedor {
    display: flex;
    justify-content: space-around; }
    .menu-primario .menu-primario__contenedor .menu-primario__enlaces {
      font-size: 1.1rem;
      color: #e9ecef; }
    .menu-primario .menu-primario__contenedor .menu-primario__enlaces:hover {
      color: #ffffff; }
  .menu-primario .menu-primario__icono {
    height: 50px;
    border-radius: 20px; }

/* 
**************************************************************************************
Enlace al shop de nuestra pagina
**************************************************************************************
*/
.shop {
  background-color: #fafafa;
  padding: 10px;
  font-size: 14px;
  color: #7c7c7c;
  box-shadow: 0px 2px 4px rgba(219, 219, 219, 0.8); }
  .shop .shop__contenedor {
    display: flex;
    justify-content: center; }
  .shop .shop__enlace {
    color: #08acaf; }
  .shop .shop__enlace:hover {
    border-bottom: 1px solid #08acaf; }

/* 
**************************************************************************************
CONTENIDO/BODY DEL SITIO
**************************************************************************************
*/
.iphone-12pro {
  background-color: #000000;
  height: auto; }
  .iphone-12pro .iphone-12pro__contenedor {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .iphone-12pro .iphone-12pro__contenedor .iphone-12pro__titulo, .iphone-12pro .iphone-12pro__contenedor .iphone-12pro__tienda .iphone-12pro__descripcion, .iphone-12pro .iphone-12pro__contenedor .iphone-12pro__tienda .iphone-12pro__enlaceTienda {
      color: #e9ecef;
      font-size: 52px;
      font-weight: 600;
      text-align: center; }
    .iphone-12pro .iphone-12pro__contenedor .iphone-12pro__tienda {
      display: flex;
      flex-direction: inherit;
      align-items: center; }
      .iphone-12pro .iphone-12pro__contenedor .iphone-12pro__tienda .iphone-12pro__descripcion {
        font-size: 26px;
        font-weight: 400; }
      .iphone-12pro .iphone-12pro__contenedor .iphone-12pro__tienda .iphone-12pro__enlaceTienda {
        color: #08acaf;
        border-bottom: 1px solid #08acaf;
        font-size: 16px; }
      .iphone-12pro .iphone-12pro__contenedor .iphone-12pro__tienda .iphone-12pro--icono {
        margin-left: 2px;
        color: #e9ecef;
        font-size: 16px; }
  .iphone-12pro .iphone-12pro__img {
    height: 300px;
    background-image: url(../img/home/iphone-12pro-home4.jpg);
    background-size: cover;
    background-repeat: no-repeat; }

.collageUno, .collageDos {
  height: auto; }
  .collageUno .collageUno__filaUno, .collageDos .collageUno__filaUno, .collageDos .collageDos__filaDos {
    display: flex;
    justify-content: space-between; }
    .collageUno .collageUno__filaUno .collageUno__filaUno--AppleWatch, .collageDos .collageUno__filaUno .collageUno__filaUno--AppleWatch, .collageDos .collageDos__filaDos .collageUno__filaUno--AppleWatch, .collageDos .collageDos__filaDos .collageDos__filaDos--Iphone11, .collageDos .collageDos__filaDos .collageDos__filaDos--IphoneSE {
      padding: 0 0;
      background-color: #000000;
      height: auto;
      width: 49.4%; }
    .collageUno .collageUno__filaUno .collageUno__filaUno--tituloAppleWatchContenedor, .collageDos .collageUno__filaUno .collageUno__filaUno--tituloAppleWatchContenedor, .collageDos .collageDos__filaDos .collageUno__filaUno--tituloAppleWatchContenedor, .collageUno .collageUno__filaUno .collageUno__filaUno--tituloIpadContenedor, .collageDos .collageUno__filaUno .collageUno__filaUno--tituloIpadContenedor, .collageDos .collageDos__filaDos .collageUno__filaUno--tituloIpadContenedor, .collageDos .collageDos__filaDos .collageDos__filaDos--tituloIphone11Contenedor, .collageDos .collageDos__filaDos .collage__filaDos--tituloIphoneSEContenedor {
      font-weight: 600;
      padding: 5px;
      text-align: center;
      color: #e9ecef; }
    .collageUno .collageUno__filaUno .collageUno__filaUno--tituloAppleWatch, .collageDos .collageUno__filaUno .collageUno__filaUno--tituloAppleWatch, .collageDos .collageDos__filaDos .collageUno__filaUno--tituloAppleWatch, .collageUno .collageUno__filaUno .collageUno__filaUno--tituloIpad, .collageDos .collageUno__filaUno .collageUno__filaUno--tituloIpad, .collageDos .collageDos__filaDos .collageUno__filaUno--tituloIpad, .collageDos .collageDos__filaDos .collageDos__filaDos--tituloIphone11, .collageDos .collageDos__filaDos .collage__filaDos--tituloIphoneSE {
      font-size: 35px;
      font-weight: 600; }
    .collageUno .collageUno__filaUno .collageUno__filaUno--iconoAppleWatch, .collageDos .collageUno__filaUno .collageUno__filaUno--iconoAppleWatch, .collageDos .collageDos__filaDos .collageUno__filaUno--iconoAppleWatch, .collageDos .collageDos__filaDos .collageDos__filaDos--iconoIphone11, .collageDos .collageDos__filaDos .collageDos__filaDos--iconoIphoneSE {
      font-size: 35px;
      padding: 0 9px; }
    .collageUno .collageUno__filaUno .collageUno__filaUno--img, .collageDos .collageUno__filaUno .collageUno__filaUno--img, .collageDos .collageDos__filaDos .collageUno__filaUno--img, .collageDos .collageDos__filaDos .collageDos__filaDos--img {
      width: 100%;
      height: 350px; }
    .collageUno .collageUno__filaUno .collageUno__filaUno--Ipad, .collageDos .collageUno__filaUno .collageUno__filaUno--Ipad, .collageDos .collageDos__filaDos .collageUno__filaUno--Ipad {
      padding: 0 0;
      width: 49.4%;
      height: auto; }
    .collageUno .collageUno__filaUno .collageUno__filaUno--tituloIpadContenedor, .collageDos .collageUno__filaUno .collageUno__filaUno--tituloIpadContenedor, .collageDos .collageDos__filaDos .collageUno__filaUno--tituloIpadContenedor {
      color: #000000; }
    .collageUno .collageUno__filaUno .collageUno__filaUno--tituloIpad, .collageDos .collageUno__filaUno .collageUno__filaUno--tituloIpad, .collageDos .collageDos__filaDos .collageUno__filaUno--tituloIpad {
      color: #393939; }

.collageDos .collageDos__filaDos .collageDos__filaDos--Iphone11 {
  background-color: #fafafa; }

.collageDos .collageDos__filaDos .collageDos__filaDos--tituloIphone11Contenedor {
  color: #393939; }

.collageTres {
  padding: 30px;
  height: 400px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 85%;
  background-image: url(../img/home/macbook-portada-1300x731.jpg);
  position: relative; }
  .collageTres .collageTres__contenedorPropaganda {
    padding: 10px; }
    .collageTres .collageTres__contenedorPropaganda h2 {
      font-size: 35px;
      font-weight: 600;
      color: #ffffff; }
    .collageTres .collageTres__contenedorPropaganda span {
      font-size: 17px;
      font-weight: 400;
      color: #ffffff; }
    .collageTres .collageTres__contenedorPropaganda i {
      font-size: 25px;
      margin-left: 5px; }

/* 
**************************************************************************************
SECCION DE SUSCRIPCION
**************************************************************************************
*/
/* 
**************************************************************************************
Clase para validar/novalidar el contenido de un input
**************************************************************************************
*/
.valido {
  border: 1px solid #2ad714e0;
  /*   border-color: #2ad714e0; */ }

.noValido {
  border: 1px solid #eb0b0b;
  /*   border-color: #eb0b0b; */ }

.submitDesactivado {
  opacity: .4; }

.suscripcion {
  background-image: url(../img/textura.png);
  height: auto; }
  .suscripcion .suscripcion__anuncio {
    padding: 10px;
    height: auto; }
    .suscripcion .suscripcion__anuncio .suscripcion__anuncio--titulo {
      padding: 5px;
      font-size: 40px;
      font-weight: 600;
      text-align: center;
      color: #393939; }
    .suscripcion .suscripcion__anuncio .suscripcion__anuncio--mensaje {
      margin-bottom: 0;
      padding: 4px 15px;
      color: #000000;
      font-size: 17px; }
  .suscripcion .suscripcion__formulario {
    height: auto;
    align-self: center;
    padding: 15px; }
    .suscripcion .suscripcion__formulario .suscripcion__formularioContenedor {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .suscripcion .suscripcion__formulario .suscripcion__formularioContenedor .suscripcion__formulario--input, .suscripcion .suscripcion__formulario .suscripcion__formularioContenedor .suscripcion__formulario--btnEnviar {
        margin: 5px;
        padding: 5px;
        width: 80%;
        border-radius: 4px;
        outline: none; }
      .suscripcion .suscripcion__formulario .suscripcion__formularioContenedor .suscripcion__formulario--btnEnviar {
        background-color: #08acaf;
        color: #e9ecef;
        font-weight: 600; }
      .suscripcion .suscripcion__formulario .suscripcion__formularioContenedor .suscripcion__formulario--loadingImg {
        background-color: #08acaf;
        border-radius: 20px;
        opacity: 0.4; }
      .suscripcion .suscripcion__formulario .suscripcion__formularioContenedor .suscripcion__formulario--suscripcionExitosa {
        color: #ff7e7e;
        padding: 7px;
        font-size: 14px;
        font-weight: 600; }

/* 
**************************************************************************************
PIE DE PAGINA
**************************************************************************************
*/
.footer {
  height: 200px; }
  .footer .footer__contenedor {
    border-bottom: 1px solid #e9ecef; }
    .footer .footer__contenedor div {
      height: 200px; }
    .footer .footer__contenedor .footer__contenedor--img {
      background-image: url(../img/logo.jpeg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain; }
    .footer .footer__contenedor .footer__contenedor--informacion {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      padding: 15px 8px;
      border-right: 1px solid #e9ecef; }
      .footer .footer__contenedor .footer__contenedor--informacion i {
        font-size: 15px;
        margin-right: 4px;
        color: #08acaf; }
      .footer .footer__contenedor .footer__contenedor--informacion span {
        padding: 0 2px;
        font-size: 15px;
        color: #393939; }
    .footer .footer__contenedor .footer__contenedor--menu {
      display: flex;
      align-items: center;
      padding: 15px 8px; }
      .footer .footer__contenedor .footer__contenedor--menu ul {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%; }
      .footer .footer__contenedor .footer__contenedor--menu li {
        width: 50%;
        padding: 7px 1px; }
      .footer .footer__contenedor .footer__contenedor--menu a {
        font-size: 15px;
        color: #393939; }
      .footer .footer__contenedor .footer__contenedor--menu a:hover {
        color: #08acaf; }

.derechos-autor {
  padding: 20px 10px; }
  .derechos-autor .derechos-autor__contenedor {
    display: flex;
    justify-content: center;
    padding: 7px; }
    .derechos-autor .derechos-autor__contenedor .derechos-autor__contenedor--desarrollador {
      font-size: 15px;
      color: #393939; }

/* 
**************************************************************************************
ESTILOS PARA LA TIENDA
**************************************************************************************
*/
.productos {
  height: 400px;
  height: 200px; }
  .productos .productos__barraBusqueda {
    padding: 10px; }
    .productos .productos__barraBusqueda form {
      display: flex;
      justify-content: center;
      width: 100%; }
    .productos .productos__barraBusqueda input {
      width: 90%;
      text-align: center;
      font-size: 12px;
      font-weight: 600;
      border: none;
      box-shadow: 0px 2px 4px rgba(219, 219, 219, 0.8);
      padding: 10px;
      border-radius: 6px;
      outline: none; }
  .productos .productos__categorias .productos__categorias--titulo {
    padding: 4px 5px;
    font-family: "Roboto";
    font-size: 17px;
    font-weight: 600;
    border-left: 3px solid #08acaf; }
  .productos .productos__categorias .productos__categorias--form {
    display: flex;
    flex-direction: column; }
    .productos .productos__categorias .productos__categorias--form input[type="radio"] {
      display: none; }
    .productos .productos__categorias .productos__categorias--form label {
      /* display: inline-block; */
      font-family: "Roboto";
      color: #393939;
      padding: 5px 15px 5px 45px;
      position: relative;
      cursor: pointer; }
    .productos .productos__categorias .productos__categorias--form label:before {
      content: "";
      width: 15px;
      height: 15px;
      /* display: inline-block; */
      border-radius: 20px;
      background: none;
      border: 2px solid gray;
      position: absolute;
      left: 20px;
      bottom: 9px; }
    .productos .productos__categorias .productos__categorias--form input[type="radio"]:checked + label:before {
      background: #08acaf; }
  .productos .productos__ordenamiento {
    border: 1px solid green; }
    .productos .productos__ordenamiento .productos__ordenamiento--contenedor {
      display: flex;
      border: 1px solid blue;
      padding: 7px 7px; }
      .productos .productos__ordenamiento .productos__ordenamiento--contenedor .productos__ordenamiento--SpanCuadriculas, .productos .productos__ordenamiento .productos__ordenamiento--contenedor .productos__ordenamiento--SpanCuadricula {
        padding: 4px 7px;
        cursor: pointer; }
      .productos .productos__ordenamiento .productos__ordenamiento--contenedor .productos__ordenamiento--SpanCuadricula {
        padding: 4px 11px;
        margin-left: 7px; }
      .productos .productos__ordenamiento .productos__ordenamiento--contenedor .productos__ordenamiento--iconoCuadriculas, .productos .productos__ordenamiento .productos__ordenamiento--contenedor .productos__ordenamiento--iconoCuadricula {
        margin-left: 1px;
        font-size: 18px; }
      .productos .productos__ordenamiento .productos__ordenamiento--contenedor .productos__ordenamiento--iconoCuadricula {
        margin-left: 1px;
        margin-top: 4px; }
      .productos .productos__ordenamiento .productos__ordenamiento--contenedor .productos__ordenamiento--form {
        margin-left: 30px;
        border: 1px solid red; }

/* 
**************************************************************************************
Clase para mostrar/quitar elementos segun corresponda
**************************************************************************************
*/
.activada {
  display: none; }

.cuadriculaActiva {
  border: 1px solid #08acaf; }
