/* COLOR PARA LOS LINKS DEL MENU */
/* COLORES PRINCIPALES */
* {
  box-sizing: border-box;
  font-family: "Open Sans"; }

a {
  text-decoration: none; }

li {
  list-style: none; }

h2, h3, h4, a {
  font-family: "Roboto"; }

button:hover,
input[type="submit"]:hover {
  opacity: .7; }

/* FIJAMOS NUESTRO MENU A LA PANTALLA AL HACER SCROLL */
header {
  position: sticky;
  top: 0;
  z-index: 1; }

/* MIXIN PARA REUTILIZAR ESTILOS DE TITULO QUE SEAN IGUALES EN LAS PAGINAS DE TIPO COLLAGE */
/* MIXIN PARA REUTILIZAR ESTILOS DE SLOGAN QUE SEAN IGUALES EN LAS PAGINAS DE TIPO COLLAGE */
/* MIXIN PARA REUTILIZAR ESTILOS DE BOTON "COMPRAR" QUE SEAN IGUALES EN LAS PAGINAS DE TIPO COLLAGE */
/* 
**************************************************************************************
Menu secundario disponible a < 768px
**************************************************************************************
*/
.menu-secundario {
  background-color: #08acaf; }
  .menu-secundario .menu-secundario__contenedor .menu-secundario__lista {
    display: flex;
    justify-content: space-evenly;
    padding: 0 0; }
  .menu-secundario .menu-secundario__contenedor .menu-secundario__enlaces {
    font-weight: 400;
    font-size: 1rem;
    color: #e9ecef; }
  .menu-secundario .menu-secundario__icono {
    height: 50px;
    border-radius: 20px;
    margin-left: 5px; }

/* 
**************************************************************************************
Menu primario disponible a > 768px
**************************************************************************************
*/
.menu-primario {
  background-color: #08acaf;
  padding: 5px; }
  .menu-primario .menu-primario__contenedor {
    display: flex;
    justify-content: space-around; }
    .menu-primario .menu-primario__contenedor .menu-primario__enlaces {
      font-size: 1.1rem;
      color: #e9ecef; }
    .menu-primario .menu-primario__contenedor .menu-primario__enlaces:hover {
      color: #ffffff; }
  .menu-primario .menu-primario__icono {
    height: 50px;
    border-radius: 20px; }

/* 
**************************************************************************************
Estilos para el enlace al shop de nuestra pagina
**************************************************************************************
*/
.shop {
  background-color: #fafafa;
  padding: 10px;
  font-size: 14px;
  color: #7c7c7c;
  box-shadow: 0px 2px 4px rgba(219, 219, 219, 0.8); }
  .shop .shop__contenedor {
    display: flex;
    justify-content: center; }
  .shop .shop__enlace {
    color: #08acaf; }
  .shop .shop__enlace:hover {
    border-bottom: 1px solid #08acaf; }

/* 
**************************************************************************************
CONTENIDO/BODY DEL SITIO
**************************************************************************************
*/
.iphone-12pro {
  background-color: #000000;
  height: auto; }
  .iphone-12pro .iphone-12pro__contenedor {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .iphone-12pro .iphone-12pro__contenedor .iphone-12pro__titulo, .iphone-12pro .iphone-12pro__contenedor .iphone-12pro__tienda .iphone-12pro__enlaceTienda {
      font-size: 35px;
      font-weight: 600;
      color: #e9ecef;
      text-align: center; }
    .iphone-12pro .iphone-12pro__contenedor .iphone-12pro__tienda {
      display: flex;
      flex-direction: inherit;
      align-items: center; }
      .iphone-12pro .iphone-12pro__contenedor .iphone-12pro__tienda .iphone-12pro__descripcion {
        font-size: 25px;
        font-weight: 500;
        color: #e9ecef;
        text-align: center; }
      .iphone-12pro .iphone-12pro__contenedor .iphone-12pro__tienda .iphone-12pro__enlaceTienda {
        color: #08acaf;
        border-bottom: 1px solid #08acaf;
        font-size: 16px; }
      .iphone-12pro .iphone-12pro__contenedor .iphone-12pro__tienda .iphone-12pro--icono {
        margin-left: 2px;
        color: #e9ecef;
        font-size: 16px; }
  .iphone-12pro .iphone-12pro__img {
    height: 300px;
    background-image: url(../img/home/iphone-12pro-home4.jpg);
    background-size: cover;
    background-repeat: no-repeat; }

.collageUno, .collageDos {
  height: auto; }
  .collageUno .collageUno__filaUno, .collageDos .collageUno__filaUno, .collageDos .collageDos__filaDos {
    display: flex;
    justify-content: space-between; }
    .collageUno .collageUno__filaUno .collageUno__filaUno--AppleWatch, .collageDos .collageUno__filaUno .collageUno__filaUno--AppleWatch, .collageDos .collageDos__filaDos .collageUno__filaUno--AppleWatch, .collageDos .collageDos__filaDos .collageDos__filaDos--Iphone11, .collageDos .collageDos__filaDos .collageDos__filaDos--IphoneSE {
      padding: 0 0;
      background-color: #000000;
      height: auto;
      width: 49.4%; }
    .collageUno .collageUno__filaUno .collageUno__filaUno--tituloAppleWatchContenedor, .collageDos .collageUno__filaUno .collageUno__filaUno--tituloAppleWatchContenedor, .collageDos .collageDos__filaDos .collageUno__filaUno--tituloAppleWatchContenedor, .collageUno .collageUno__filaUno .collageUno__filaUno--tituloIpadContenedor, .collageDos .collageUno__filaUno .collageUno__filaUno--tituloIpadContenedor, .collageDos .collageDos__filaDos .collageUno__filaUno--tituloIpadContenedor, .collageDos .collageDos__filaDos .collageDos__filaDos--tituloIphone11Contenedor, .collageDos .collageDos__filaDos .collage__filaDos--tituloIphoneSEContenedor {
      font-weight: 600;
      padding: 5px;
      text-align: center;
      color: #e9ecef; }
    .collageUno .collageUno__filaUno .collageUno__filaUno--tituloAppleWatch, .collageDos .collageUno__filaUno .collageUno__filaUno--tituloAppleWatch, .collageDos .collageDos__filaDos .collageUno__filaUno--tituloAppleWatch, .collageUno .collageUno__filaUno .collageUno__filaUno--tituloIpad, .collageDos .collageUno__filaUno .collageUno__filaUno--tituloIpad, .collageDos .collageDos__filaDos .collageUno__filaUno--tituloIpad, .collageDos .collageDos__filaDos .collageDos__filaDos--tituloIphone11, .collageDos .collageDos__filaDos .collage__filaDos--tituloIphoneSE {
      font-size: 35px;
      font-weight: 600; }
    .collageUno .collageUno__filaUno .collageUno__filaUno--iconoAppleWatch, .collageDos .collageUno__filaUno .collageUno__filaUno--iconoAppleWatch, .collageDos .collageDos__filaDos .collageUno__filaUno--iconoAppleWatch, .collageDos .collageDos__filaDos .collageDos__filaDos--iconoIphone11, .collageDos .collageDos__filaDos .collageDos__filaDos--iconoIphoneSE {
      font-size: 35px;
      padding: 0 9px; }
    .collageUno .collageUno__filaUno .collageUno__filaUno--img, .collageDos .collageUno__filaUno .collageUno__filaUno--img, .collageDos .collageDos__filaDos .collageUno__filaUno--img, .collageDos .collageDos__filaDos .collageDos__filaDos--img {
      width: 100%;
      height: 350px; }
    .collageUno .collageUno__filaUno .collageUno__filaUno--Ipad, .collageDos .collageUno__filaUno .collageUno__filaUno--Ipad, .collageDos .collageDos__filaDos .collageUno__filaUno--Ipad {
      padding: 0 0;
      width: 49.4%;
      height: auto; }
    .collageUno .collageUno__filaUno .collageUno__filaUno--tituloIpadContenedor, .collageDos .collageUno__filaUno .collageUno__filaUno--tituloIpadContenedor, .collageDos .collageDos__filaDos .collageUno__filaUno--tituloIpadContenedor {
      color: #000000; }
    .collageUno .collageUno__filaUno .collageUno__filaUno--tituloIpad, .collageDos .collageUno__filaUno .collageUno__filaUno--tituloIpad, .collageDos .collageDos__filaDos .collageUno__filaUno--tituloIpad {
      color: #393939; }

.collageDos .collageDos__filaDos .collageDos__filaDos--Iphone11 {
  background-color: #fafafa; }

.collageDos .collageDos__filaDos .collageDos__filaDos--tituloIphone11Contenedor {
  color: #393939; }

.collageTres {
  padding: 30px;
  height: 400px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 85%;
  background-image: url(../img/home/macbook-portada-1300x731.jpg);
  position: relative; }
  .collageTres .collageTres__contenedorPropaganda {
    padding: 10px; }
    .collageTres .collageTres__contenedorPropaganda h2 {
      font-size: 35px;
      font-weight: 600;
      color: #ffffff; }
    .collageTres .collageTres__contenedorPropaganda span {
      font-size: 25px;
      font-weight: 500;
      color: #ffffff; }
    .collageTres .collageTres__contenedorPropaganda i {
      font-size: 25px;
      margin-left: 5px; }

/* 
**************************************************************************************
ESTILOS PARA LA PAGINA DE CELULARES
**************************************************************************************
*/
.iphone12 {
  animation: aparecer .5s linear; }
  .iphone12 .iphone12__contenedorTexto {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 45px 5px; }
    .iphone12 .iphone12__contenedorTexto .iphone12__contenedorTexto--titulo {
      font-size: 35px;
      font-weight: 600;
      color: #393939; }
    .iphone12 .iphone12__contenedorTexto .iphone12__contenedorTexto--slogan {
      font-size: 25px;
      font-weight: 500;
      color: #393939; }
    .iphone12 .iphone12__contenedorTexto .iphone12__contenedorTexto--btnTienda {
      background-color: #08acaf;
      color: #e9ecef;
      padding: 5px 20px;
      margin-top: 7px;
      border-radius: 15px; }
  .iphone12 .iphone12__imagen {
    height: 100vh;
    background-image: url(../img/home/iphone12-celulares.jpg);
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: contain; }

.iphone12pro {
  background-color: #1c1a1a; }
  .iphone12pro .iphone12pro__img {
    background-image: url(../img/home/1586965934_242736_1586966124_sumario_normal.jpg);
    background-size: contain;
    background-attachment: fixed;
    background-position: center;
    height: 400px;
    background-repeat: no-repeat; }

.cuotas .cuotas__contenedorImg {
  display: flex;
  justify-content: center; }
  .cuotas .cuotas__contenedorImg img {
    width: 65%; }

.modelos {
  background-color: #000000;
  padding: 10px 2px; }
  .modelos .modelos__contenedor .modelos__contenedor--img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    .modelos .modelos__contenedor .modelos__contenedor--img h2 {
      font-size: 35px;
      font-weight: 600;
      padding: 10px;
      color: #e9ecef; }
    .modelos .modelos__contenedor .modelos__contenedor--img img {
      width: 85%; }
    .modelos .modelos__contenedor .modelos__contenedor--img .modelos__contenedor--botones {
      width: 85%;
      display: flex;
      justify-content: space-around;
      position: relative; }
      .modelos .modelos__contenedor .modelos__contenedor--img .modelos__contenedor--botones a {
        background-color: #08acaf;
        color: #e9ecef;
        border-radius: 8px;
        font-size: 15px;
        font-weight: 600;
        padding: 5px 15px; }

/* 
**************************************************************************************
ESTILOS PARA LA PAGINA DE TABLETS
**************************************************************************************
*/
.ipadPro {
  background-color: #000000;
  padding: 10px; }
  .ipadPro .ipadPro__contenedorTexto {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 5px; }
    .ipadPro .ipadPro__contenedorTexto .ipadPro__contenedorTexto--titulo {
      font-size: 35px;
      font-weight: 600;
      color: #e9ecef; }
      .ipadPro .ipadPro__contenedorTexto .ipadPro__contenedorTexto--titulo i {
        margin-left: 5px; }
    .ipadPro .ipadPro__contenedorTexto .ipadPro__contenedorTexto--slogan {
      font-size: 25px;
      font-weight: 500;
      color: #e9ecef; }
    .ipadPro .ipadPro__contenedorTexto .ipadPro__contenedorTexto--btnTienda {
      background-color: #08acaf;
      color: #e9ecef;
      padding: 5px 20px;
      margin-top: 7px;
      border-radius: 15px; }
  .ipadPro .ipadPro__contenedorImg img {
    width: 100%; }

.ipadAir .ipadAir__contenedorTexto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px 5px; }
  .ipadAir .ipadAir__contenedorTexto .ipadAir__contenedorTexto--titulo {
    font-size: 35px;
    font-weight: 600;
    color: #393939; }
  .ipadAir .ipadAir__contenedorTexto .ipadAir__contenedorTexto--slogan {
    font-size: 25px;
    font-weight: 500;
    color: #393939;
    text-align: center; }
  .ipadAir .ipadAir__contenedorTexto .ipadAir__contenedorTexto--btnTienda {
    background-color: #08acaf;
    color: #e9ecef;
    padding: 5px 20px;
    margin-top: 7px;
    border-radius: 15px; }

.ipadAir .ipadAir__contenedorImg {
  display: flex;
  justify-content: center; }
  .ipadAir .ipadAir__contenedorImg img {
    width: 65%; }

.ipadMini {
  background-color: #ffffff; }
  .ipadMini .ipadMini__contenedorTexto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 5px; }
    .ipadMini .ipadMini__contenedorTexto .ipadMini__contenedorTexto--titulo {
      font-size: 35px;
      font-weight: 600;
      color: #393939; }
    .ipadMini .ipadMini__contenedorTexto .ipadMini__contenedorTexto--slogan {
      font-size: 25px;
      font-weight: 500;
      color: #393939;
      text-align: center; }
    .ipadMini .ipadMini__contenedorTexto .ipadMini__contenedorTexto--btnTienda {
      background-color: #08acaf;
      color: #e9ecef;
      padding: 5px 20px;
      margin-top: 7px;
      border-radius: 15px; }
  .ipadMini .ipadMini__contenedorImg {
    display: flex;
    justify-content: center; }
    .ipadMini .ipadMini__contenedorImg img {
      width: 100%; }

/* **************************************************************************************
 ESTILOS PARA LA PAGINA DE APPLE WATCH
************************************************************************************** */
.watchSeries6 .watchSeries6__contenedor .watchSeries6__contenedor--Img img {
  width: 85%; }

.watchSeries6 .watchSeries6__contenedor .watchSeries6__contenedor--Texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px 5px; }
  .watchSeries6 .watchSeries6__contenedor .watchSeries6__contenedor--Texto .watchSeries6__contenedor--titulo {
    font-size: 35px;
    font-weight: 600;
    color: #393939; }
  .watchSeries6 .watchSeries6__contenedor .watchSeries6__contenedor--Texto .watchSeries6__contenedor--slogan {
    font-size: 25px;
    font-weight: 500;
    color: #393939;
    text-align: center; }
  .watchSeries6 .watchSeries6__contenedor .watchSeries6__contenedor--Texto .watchSeries6__contenedor--btnTienda {
    background-color: #08acaf;
    color: #e9ecef;
    padding: 5px 20px;
    margin-top: 7px;
    border-radius: 15px; }

.watchse .watchse__contenedor--Img img {
  width: 85%; }

.watchse .watchse__contenedor--Texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px 5px; }
  .watchse .watchse__contenedor--Texto .watchse__contenedor--titulo {
    font-size: 35px;
    font-weight: 600;
    color: #393939; }
  .watchse .watchse__contenedor--Texto .watchse__contenedor--slogan {
    font-size: 25px;
    font-weight: 500;
    color: #393939;
    text-align: center; }
  .watchse .watchse__contenedor--Texto .watchse__contenedor--btnTienda {
    background-color: #08acaf;
    color: #e9ecef;
    padding: 5px 20px;
    margin-top: 7px;
    border-radius: 15px; }

.modelosWatch {
  background-color: #f1f1f1; }
  .modelosWatch .modelosWatch__contenedorTexto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 25px; }
    .modelosWatch .modelosWatch__contenedorTexto .modelosWatch__contenedorTexto--titulo {
      font-size: 35px;
      font-weight: 600;
      color: #393939; }
    .modelosWatch .modelosWatch__contenedorTexto .modelosWatch__contenedorTexto--slogan {
      font-size: 25px;
      font-weight: 500;
      color: #393939; }
    .modelosWatch .modelosWatch__contenedorTexto .modelosWatch__contenedorTexto--btnTienda {
      background-color: #08acaf;
      color: #e9ecef;
      padding: 5px 20px;
      margin-top: 7px;
      border-radius: 15px; }
  .modelosWatch .modelosWatch__contenedorImg {
    display: flex;
    justify-content: center; }
    .modelosWatch .modelosWatch__contenedorImg img {
      width: 82.5%; }

/* 
**************************************************************************************
ESTILOS PARA LA PAGINA DE CONTACTO
**************************************************************************************
 */
.fondoEncabezado .fondoEncabezado__contenedorImg {
  background-image: url(../img/home/fondo-pag-contacto.jpg);
  background-position: center;
  background-repeat: no-repeat;
  height: 35vh; }
  .fondoEncabezado .fondoEncabezado__contenedorImg .fondoEncabezado__contenedorTexto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px 5px; }
    .fondoEncabezado .fondoEncabezado__contenedorImg .fondoEncabezado__contenedorTexto .fondoEncabezado__contenedorTitulo {
      font-size: 35px;
      font-weight: 600;
      color: #e9ecef; }
    .fondoEncabezado .fondoEncabezado__contenedorImg .fondoEncabezado__contenedorTexto .fondoEncabezado__contenedorSlogan {
      font-size: 25px;
      font-weight: 500;
      color: #e9ecef;
      text-align: center; }

.formulario {
  padding: 10px 5px; }
  .formulario .formulario__contenedor .formulario__contenedor--titulo {
    font-size: 35px;
    font-weight: 600;
    padding: 10px 10px;
    color: #393939; }
  .formulario .formulario__contenedor .formulario__contenedor--form {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 20px 10px; }
    .formulario .formulario__contenedor .formulario__contenedor--form .formulario__contenedor--label {
      width: 70%;
      color: #393939;
      font-size: 15px;
      font-weight: 600;
      font-family: 'Roboto';
      padding: 3px 0px;
      margin: 9px 0; }
    .formulario .formulario__contenedor .formulario__contenedor--form .formulario__contenedor--input {
      width: 70%;
      padding: 7px;
      background-color: #fafafa;
      border: none;
      outline: none;
      border-radius: 4px; }
    .formulario .formulario__contenedor .formulario__contenedor--form .formulario__contenedor--inputSubmit {
      background-color: #08acaf;
      color: #e9ecef;
      border: none;
      outline: none;
      border-radius: 7px;
      width: 20%;
      margin-top: 10px;
      padding: 5px 5px;
      cursor: pointer; }

/* ESTILOS PARA VALIDAR LOS CAMPOS DEL FORMULARIO DE LA PAGINA CONTACTO */
.check {
  color: #2ad714e0;
  font-size: 20px; }

.noCheck {
  color: #eb0b0b;
  font-size: 20px; }

/* 
**************************************************************************************
SECCION DE SUSCRIPCION
**************************************************************************************
 */
.valido {
  border: 1px solid #2ad714e0; }

.noValido {
  border: 1px solid #eb0b0b; }

.submitDesactivado {
  opacity: .4; }

.suscripcion {
  padding: 50px 0;
  background-image: url(../img/textura.png);
  height: auto; }
  .suscripcion .suscripcion__anuncio {
    padding: 10px;
    height: auto; }
    .suscripcion .suscripcion__anuncio .suscripcion__anuncio--titulo {
      padding: 5px;
      font-size: 40px;
      font-weight: 600;
      text-align: center;
      color: #393939; }
    .suscripcion .suscripcion__anuncio .suscripcion__anuncio--mensaje {
      margin-bottom: 0;
      padding: 4px 15px;
      color: #000000;
      font-size: 17px; }
  .suscripcion .suscripcion__formulario {
    height: auto;
    align-self: center;
    padding: 15px; }
    .suscripcion .suscripcion__formulario .suscripcion__formularioContenedor {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .suscripcion .suscripcion__formulario .suscripcion__formularioContenedor .suscripcion__formulario--input, .suscripcion .suscripcion__formulario .suscripcion__formularioContenedor .suscripcion__formulario--btnEnviar {
        margin: 5px;
        padding: 5px;
        width: 80%;
        border-radius: 4px;
        outline: none; }
      .suscripcion .suscripcion__formulario .suscripcion__formularioContenedor .suscripcion__formulario--btnEnviar {
        background-color: #08acaf;
        color: #e9ecef;
        font-weight: 600; }
      .suscripcion .suscripcion__formulario .suscripcion__formularioContenedor .suscripcion__formulario--loadingImg {
        background-color: #08acaf;
        border-radius: 20px;
        opacity: 0.4; }
      .suscripcion .suscripcion__formulario .suscripcion__formularioContenedor .suscripcion__formulario--suscripcionExitosa {
        color: #ff7e7e;
        padding: 7px;
        font-size: 14px;
        font-weight: 600; }

/* 
**************************************************************************************
PIE DE PAGINA
**************************************************************************************
*/
.footer .footer__contenedor {
  border-bottom: 1px solid #e9ecef; }
  .footer .footer__contenedor div {
    height: 200px; }
  .footer .footer__contenedor .footer__contenedor--img {
    background-image: url(../img/logo.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; }
  .footer .footer__contenedor .footer__contenedor--informacion {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 15px 8px;
    border-right: 1px solid #e9ecef; }
    .footer .footer__contenedor .footer__contenedor--informacion i {
      font-size: 15px;
      margin-right: 4px;
      color: #08acaf; }
    .footer .footer__contenedor .footer__contenedor--informacion span {
      padding: 0 2px;
      font-size: 15px;
      color: #393939; }
  .footer .footer__contenedor .footer__contenedor--menu {
    display: flex;
    align-items: center;
    padding: 15px 8px; }
    .footer .footer__contenedor .footer__contenedor--menu ul {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 100%; }
    .footer .footer__contenedor .footer__contenedor--menu li {
      width: 50%;
      padding: 7px 1px; }
    .footer .footer__contenedor .footer__contenedor--menu a {
      font-size: 15px;
      color: #393939; }
    .footer .footer__contenedor .footer__contenedor--menu a:hover {
      color: #08acaf; }

.derechos-autor {
  padding: 20px 10px; }
  .derechos-autor .derechos-autor__contenedor {
    display: flex;
    justify-content: center;
    padding: 7px; }
    .derechos-autor .derechos-autor__contenedor .derechos-autor__contenedor--desarrollador {
      font-size: 15px;
      color: #393939; }

/* 
**************************************************************************************
ESTILOS PARA LA TIENDA
**************************************************************************************
*/
.productos {
  height: auto; }
  .productos .productos__categorias {
    margin-top: 7px; }
    .productos .productos__categorias .productos__categorias--titulo {
      padding: 4px 5px;
      font-family: "Roboto";
      font-size: 17px;
      font-weight: 600;
      border-left: 3px solid #08acaf; }
    .productos .productos__categorias .productos__categorias--form {
      display: flex;
      flex-direction: column; }
      .productos .productos__categorias .productos__categorias--form input[type="radio"] {
        display: none; }
      .productos .productos__categorias .productos__categorias--form label {
        font-family: "Roboto";
        color: #393939;
        padding: 5px 15px 5px 45px;
        position: relative;
        cursor: pointer; }
      .productos .productos__categorias .productos__categorias--form label:before {
        content: "";
        width: 15px;
        height: 15px;
        border-radius: 20px;
        background: none;
        border: 2px solid gray;
        position: absolute;
        left: 20px;
        bottom: 9px; }
      .productos .productos__categorias .productos__categorias--form input[type="radio"]:checked + label:before {
        background: #08acaf; }
  .productos .productos__ordenamiento {
    display: flex;
    flex-wrap: wrap;
    padding: 11px; }
    .productos .productos__ordenamiento .productos__ordenamiento--contenedorCuadriculas,
    .productos .productos__ordenamiento .productos__ordenamiento--contenedorCuadricula {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;
      margin-right: 5px;
      cursor: pointer; }
    .productos .productos__ordenamiento .productos__ordenamiento--contenedorCuadriculas:hover,
    .productos .productos__ordenamiento .productos__ordenamiento--contenedorCuadricula:hover {
      border: 1px solid #08acaf; }
    .productos .productos__ordenamiento .productos__ordenamiento--form {
      display: flex;
      align-items: center;
      margin-left: 15px;
      padding: 3px 3px;
      width: 70%;
      height: 32px;
      box-shadow: 0px 2px 4px rgba(219, 219, 219, 0.8);
      position: relative; }
      .productos .productos__ordenamiento .productos__ordenamiento--form input {
        width: 100%;
        outline: none;
        border: none;
        border-radius: 9px;
        text-align: center;
        font-size: 13px;
        font-weight: 600;
        font-family: 'Roboto'; }
      .productos .productos__ordenamiento .productos__ordenamiento--form i {
        padding: 5px 0px;
        cursor: pointer;
        color: #393939; }
      .productos .productos__ordenamiento .productos__ordenamiento--form div {
        position: absolute;
        top: 4px;
        right: -45px; }
        .productos .productos__ordenamiento .productos__ordenamiento--form div span {
          position: absolute;
          text-align: center;
          top: -15px;
          right: -8px;
          border-radius: 10px;
          color: #08acaf;
          font-size: 16px;
          font-weight: 600;
          font-family: 'Roboto'; }
  .productos .productos__contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 5px 0px;
    box-shadow: 1px 2px 6px 3px rgba(219, 219, 219, 0.5); }
    .productos .productos__contenedor .productos__contenedor--seccionError {
      width: 100%;
      height: 200px;
      padding: 10px 5px;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .productos .productos__contenedor .productos__contenedor--seccionError div {
        display: flex;
        justify-content: center; }
      .productos .productos__contenedor .productos__contenedor--seccionError h3 {
        font-size: 35px;
        font-weight: 600;
        color: #393939;
        font-family: "Roboto"; }
        .productos .productos__contenedor .productos__contenedor--seccionError h3 i {
          margin-left: 3px;
          color: #08acaf;
          font-size: 35px; }
      .productos .productos__contenedor .productos__contenedor--seccionError span {
        font-size: 25px;
        font-weight: 500;
        font-family: "Roboto";
        color: #393939;
        padding: 5px 1px;
        text-align: center; }
    .productos .productos__contenedor .productos__contenedor--article {
      animation: aparecer .6s linear; }
      .productos .productos__contenedor .productos__contenedor--article .productos__contenedor--contenedorImg {
        display: flex;
        justify-content: center;
        width: 100%; }
        .productos .productos__contenedor .productos__contenedor--article .productos__contenedor--contenedorImg div {
          position: relative; }
        .productos .productos__contenedor .productos__contenedor--article .productos__contenedor--contenedorImg i {
          position: absolute;
          font-size: 17px;
          cursor: grab;
          right: -6px;
          top: -10px; }
      .productos .productos__contenedor .productos__contenedor--article .productos__contenedor--contenedorDescripcion {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3px; }
        .productos .productos__contenedor .productos__contenedor--article .productos__contenedor--contenedorDescripcion h4,
        .productos .productos__contenedor .productos__contenedor--article .productos__contenedor--contenedorDescripcion span {
          color: #393939;
          font-weight: 600; }
      .productos .productos__contenedor .productos__contenedor--article .productos__contenedor--contenedorBoton {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px; }
        .productos .productos__contenedor .productos__contenedor--article .productos__contenedor--contenedorBoton button {
          padding: 8px;
          border-radius: 5px;
          outline: none;
          border: none;
          background-color: #08acaf;
          color: #e9ecef;
          font-size: 17px;
          font-family: "Roboto";
          font-weight: 400; }

/*
Animacion para que aparezcan las cards de productos
*/
@keyframes aparecer {
  0% {
    opacity: 0; }
  50% {
    opacity: 0.6; }
  100% {
    opacity: 1; } }

/* 
**************************************************************************************
ESTILOS PARA EL CONTENEDOR PARA EL DETALLE DEL PRODUCTO
**************************************************************************************
*/
.detalle {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.9); }
  .detalle .detalle__contenedor {
    position: relative;
    display: flex;
    width: 80%;
    height: 100%;
    box-shadow: 0px 0px 5px #ffffff;
    border-radius: 5px;
    background-color: #ffffff;
    overflow-y: scroll; }
  .detalle .detalle__btn-cerrar {
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    background: none; }
    .detalle .detalle__btn-cerrar i {
      font-size: 19px; }
  .detalle .detalle__imagenContenedor {
    display: flex;
    justify-content: center;
    width: 50%;
    height: 100%;
    padding: 2px; }
    .detalle .detalle__imagenContenedor .detalle__imagenContenedor--imgDiv {
      position: relative;
      width: 55%; }
      .detalle .detalle__imagenContenedor .detalle__imagenContenedor--imgDiv i {
        font-size: 25px; }
      .detalle .detalle__imagenContenedor .detalle__imagenContenedor--imgDiv .detalle__imagenContenedor--spanLeft {
        position: absolute;
        left: -20px;
        top: 130px;
        cursor: pointer; }
      .detalle .detalle__imagenContenedor .detalle__imagenContenedor--imgDiv .detalle__imagenContenedor--spanRight {
        position: absolute;
        right: -20px;
        top: 130px;
        cursor: pointer; }
    .detalle .detalle__imagenContenedor .detalle__imagenContenedor--img {
      width: 100%;
      height: 42%; }
  .detalle .detalle__descripcionContenedor {
    padding: 20px;
    width: 50%;
    height: 100%; }
    .detalle .detalle__descripcionContenedor .detalle__contenedorPrecioDiv, .detalle .detalle__descripcionContenedor .detalle__contenedorTituloDiv, .detalle .detalle__descripcionContenedor .detalle__contenedorListaDiv {
      width: 100%;
      padding: 7px; }
      .detalle .detalle__descripcionContenedor .detalle__contenedorPrecioDiv .detalle__contenedorPrecioDiv--spanPrecio, .detalle .detalle__descripcionContenedor .detalle__contenedorTituloDiv .detalle__contenedorPrecioDiv--spanPrecio, .detalle .detalle__descripcionContenedor .detalle__contenedorListaDiv .detalle__contenedorPrecioDiv--spanPrecio {
        background-color: #08acaf;
        color: #e9ecef;
        font-family: "Roboto";
        font-size: 19px;
        font-weight: 400;
        border-radius: 20px;
        padding: 6px 10px; }
    .detalle .detalle__descripcionContenedor .detalle__contenedorTituloDiv .detalle__contenedorTituloDiv--tituloProducto {
      padding: 5px;
      font-size: 30px;
      font-weight: 600;
      color: #393939;
      text-align: center; }
    .detalle .detalle__descripcionContenedor .detalle__contenedorListaDiv ul {
      padding: 10px 1px; }
    .detalle .detalle__descripcionContenedor .detalle__contenedorListaDiv li {
      margin: 6px 1px;
      font-size: 14px;
      color: #393939;
      list-style: inside; }
    .detalle .detalle__descripcionContenedor .detalle__contenedorListaDiv span {
      font-weight: 600;
      font-family: "Roboto"; }

/* 
**************************************************************************************
ESTILOS PARA LA PAGINA DEL CARRITO DE COMPRAS
**************************************************************************************
*/
.carrito {
  /* TABLA PARA MOSTRAR PRODUCTOS DEL CARRITO */
  /* TABLA DE MONTO TOTAL */ }
  .carrito .carrito__carritoVacio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh; }
    .carrito .carrito__carritoVacio h3 {
      padding: 10px 5px;
      color: #393939;
      font-size: 35px;
      font-weight: 600; }
    .carrito .carrito__carritoVacio i {
      margin-left: 2px; }
    .carrito .carrito__carritoVacio span {
      font-size: 25px;
      font-weight: 500;
      margin: 10px;
      color: #393939;
      font-family: "Roboto"; }
    .carrito .carrito__carritoVacio a {
      background-color: #08acaf;
      color: #e9ecef;
      padding: 10px 5px;
      width: 25%;
      border-radius: 16px;
      text-align: center;
      cursor: pointer; }
    .carrito .carrito__carritoVacio a:hover {
      opacity: .7; }
  .carrito .carrito__contenedorCompra {
    display: flex;
    justify-content: center; }
    .carrito .carrito__contenedorCompra .carrito__contenedorCompra--tablaCarrito {
      border: 1px solid #eaeaea;
      width: 100%; }
      .carrito .carrito__contenedorCompra .carrito__contenedorCompra--tablaCarrito .carrito__contenedorCompra--thead {
        background-color: #fafafa; }
        .carrito .carrito__contenedorCompra .carrito__contenedorCompra--tablaCarrito .carrito__contenedorCompra--thead th {
          padding: 0.8em;
          font-family: "Roboto";
          color: #393939; }
      .carrito .carrito__contenedorCompra .carrito__contenedorCompra--tablaCarrito .carrito__contenedorCompra--tbody tr {
        border-bottom: 1px solid #eaeaea; }
      .carrito .carrito__contenedorCompra .carrito__contenedorCompra--tablaCarrito .carrito__contenedorCompra--tbody td {
        padding: 0.8em; }
      .carrito .carrito__contenedorCompra .carrito__contenedorCompra--tablaCarrito .carrito__contenedorCompra--tbody span {
        font-family: "Roboto";
        font-weight: 500;
        color: #393939; }
      .carrito .carrito__contenedorCompra .carrito__contenedorCompra--tablaCarrito .carrito__contenedorCompra--tbody img {
        width: 2em; }
      .carrito .carrito__contenedorCompra .carrito__contenedorCompra--tablaCarrito .carrito__contenedorCompra--tbody input {
        width: 3em;
        border: 1px solid #eaeaea;
        color: #393939;
        text-align: center; }
      .carrito .carrito__contenedorCompra .carrito__contenedorCompra--tablaCarrito .carrito__contenedorCompra--tbody button {
        background-color: #ffffff;
        border-radius: 20px;
        padding: 0px 8px;
        border: 1px solid #bbb;
        color: #bbb;
        font-family: monospace;
        font-weight: 400; }
      .carrito .carrito__contenedorCompra .carrito__contenedorCompra--tablaCarrito .carrito__contenedorCompra--tbody button:hover {
        border: 1px solid #000;
        color: #000; }
  .carrito .carrito__contenedorMontoTotal {
    display: flex;
    justify-content: flex-end; }
    .carrito .carrito__contenedorMontoTotal .carrito__contenedorMontoTotal--tablaMontoTotal {
      border: 1px solid #eaeaea;
      border-collapse: separate; }
      .carrito .carrito__contenedorMontoTotal .carrito__contenedorMontoTotal--tablaMontoTotal .carrito__contenedorMontoTotal--thead {
        background-color: #fafafa; }
        .carrito .carrito__contenedorMontoTotal .carrito__contenedorMontoTotal--tablaMontoTotal .carrito__contenedorMontoTotal--thead th {
          padding: 0.3em;
          font-family: "Roboto";
          color: #393939; }
      .carrito .carrito__contenedorMontoTotal .carrito__contenedorMontoTotal--tablaMontoTotal .carrito__contenedorMontoTotal--tbody td {
        padding: 0.3em; }
      .carrito .carrito__contenedorMontoTotal .carrito__contenedorMontoTotal--tablaMontoTotal .carrito__contenedorMontoTotal--tbody span {
        font-family: "Roboto";
        font-weight: 500;
        color: #393939; }
      .carrito .carrito__contenedorMontoTotal .carrito__contenedorMontoTotal--tablaMontoTotal .carrito__contenedorMontoTotal--tbody button {
        padding: 6px 10px;
        background-color: #08acaf;
        color: #e9ecef;
        font-family: "Roboto";
        font-weight: 400;
        border-radius: 8px;
        border: 1px solid #e9ecef; }
      .carrito .carrito__contenedorMontoTotal .carrito__contenedorMontoTotal--tablaMontoTotal .carrito__contenedorMontoTotal--tbody .carrito__contenedorMontoTotal--imgLoading {
        background-color: #08acaf;
        border-radius: 20px;
        margin-left: 10px; }

/* 
**************************************************************************************
Clase para mostrar/quitar elementos segun corresponda
**************************************************************************************
*/
.activada {
  display: none; }

.cuadriculaMultiple {
  width: 47%; }
  .cuadriculaMultiple img {
    width: 190px;
    height: 210px; }

.cuadriculaUnica {
  width: 100%; }
  .cuadriculaUnica img {
    width: 250px;
    height: 290px; }
